/* 320 + */
.b-title {
    display: inline-block;
    font-size: 25px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: -0.31px;
    color: @cl-font-main;

    &--block {
        display: block;
        margin-right: 0;
    }

    &__new-line {
        display: block;
        margin: 0;
    }
    &--mobile-grey {
        font-size: 25px;
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: -0.31px;
        color: @silver;
    }

    &--label-mobile-dark {
        font-size: 10px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: 1.33px;
        text-transform: uppercase;
    }

    &--slider {
        margin-bottom: 18px;
    }

    &--light {
        font-size: 25px;
        line-height: 1.2;
        letter-spacing: -0.31px;
        color: @cl-light-grayish-blue;
    }

    &--team {
        position: relative;
        margin-top: 30px;
        margin-bottom: 20px;

        &::before {
            content: '';
            position: absolute;
            width: 100vw;
            height: 1px;
            background-color: @silver;
            top: -30px;
            left: -30px;
        }
    }

    &--news {
        margin-bottom: 30px;
    }

    &--about {
        margin-bottom: 30px;
    }
}