/* 980 + */

.b-link {
    &--colored {
        font-size: 20px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;

        padding: 25px 100px;

        &:hover {
            color: @dark;

            background-color: @cl-light-grayish-blue;
        }
    }
}