/* 320 + */
.b-link{
    position: relative;
    display: inline;
    text-decoration: none;
    transition: color @animation-time;
    appearance:         none;
    -webkit-appearance: none;
    -moz-appearance:    none;

    // Общие
    &--block {
        display: block;
    }
    &--hero {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.33;
        letter-spacing: normal;
        color: @cl-light-grayish-blue;
        padding: 30px 0;
    }
    &--hero:active {
        opacity: 0.5;
    }
    &__arrow {
        position: absolute;
        right: 0;
        top: calc(50% - 1px);
        width: 20px;
        height: 1px;
        background-color: @cl-light-grayish-blue;
    }
    &__arrow::before,
    &__arrow::after {
        content: '';
        width: 50%;
        height: 1px;
        background-color: @cl-light-grayish-blue;
        transform-origin: right;
        position: absolute;
        right: 0;
    }

    &__arrow::after {
        transform: rotate(45deg);
    }

    &__arrow::before {
        transform: rotate(-45deg);
    }

    &:active &__arrow {
        transform: scale(0.9);
    }

    &--colored {
        color: @cl-light-grayish-blue;

        background-color: @dark-sky-blue;
        padding: 20px 30px;

        &:active {
            background-color: @dark;
        }
    }
    &--colored &__arrow {
        margin-right: 30px;
    }
}