/* 320 + */
.b-link {
    display: inline;
    text-decoration: none;
    transition: color @animation-time;
    appearance:         none;
    -webkit-appearance: none;
    -moz-appearance:    none;

    // Общие
    &--block {
        display: block;
    }
}