/* 320++  */
.b-language {
    margin-left: -10px;

    &__button {
        margin-right: 10px;
        background-color: transparent;
        border: solid 0px @dark;
        border-radius: 100%;
        padding: 0;
        width: 40px;
        height: 40px;

    }
    &__button--active {
        border-width: 1px;
    }

}