/* 980++  */

.b-post {
    width: 50%;

    picture {
        left: 0px;
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin-bottom: 0;

        img {
            object-fit: cover;
            height: 100%;
        }
    }

    &__content {
        position: relative;
        padding: 40px;

        &::after {
            content: '';
            width: 1px;
            height: 100%;
            background-color: @silver;
            opacity: 0.2;
            position: absolute;
            top: 0;
            right: -1px;
        }
    }

    h3 {
        font-size: 13px;

        margin-bottom: 35px;
    }

    p {
        font-size: 30px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: @dark;

        margin-bottom: 40px;
    }

    &--big {
        width: 100%;
        height: 600px;

        h3 {
            margin-top: 5px;
            margin-bottom: 42px;
        }

        picture {
            height: 600px;
            margin-bottom: 0;
        }
    }

    &--big &__content {
        position: absolute;
        width: 380px;
        min-height: 380px;
        max-height: calc(~"100% - 40px");
        right: 50%;
        bottom: 20px;
        overflow-y: scroll;
        overflow-x: hidden;

        background-color: @cl-light-grayish-blue;

        &::-webkit-scrollbar{
            width: 10px; /* Ширина скролла */
        }

        &::-webkit-scrollbar-thumb {
            background: @dark;
            opacity: 0.5; /* Цвет ползунка */ /* Скругление углов */
        }

        &::-webkit-scrollbar-thumb:hover {
            opacity: 1; /* Цвет ползунка при наведении */
        }

        &::-webkit-scrollbar-track {
            background: transparent/* Цвет дорожки скролла */
        }

        &::-webkit-scrollbar-button {
            display: none; /* Скрываем стрелочки */
        }

        p {
            margin-bottom: 0;
        }

        &--colored {
            background-color: @dark-sky-blue;

            h3,
            p,
            a {
                color: @cl-light-grayish-blue;
            }

            a:hover {
                opacity: 0.7;
            }
        }

        &--right {
            left: 50%;
        }

        &--slider {
            width: 400px;
            left: 0;
            bottom: -1px;

            h3 {
                margin-bottom: 35px;
            }
        }

        &::after {
            display: none;
        }
    }

    &--optional {
        display: block;
    }
}