/* 980++  */

.b-post {
    width: 50%;

    picture {
        left: 0px;
        width: 100%;
        height: auto;

        margin-bottom: 0;
    }

    &__content {
        padding: 40px;
    }

    h3 {
        font-size: 13px;

        margin-bottom: 30px;
    }

    p {
        font-size: 30px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: @dark;

        margin-bottom: 40px;
    }

    &--big {
        width: 100%;
        height: 600px;

        .b-post__content {
            position: absolute;
            width: 380px;
            height: 380px;
            right: 50%;
            bottom: 20px;

            background-color: @cl-light-grayish-blue;

            &--colored {
                background-color: @dark-sky-blue;

                h3,
                p {
                    color: @cl-light-grayish-blue;
                }
            }
        }
    }
}