//- ====================
//- kontora: hr
//- 00-00-2020: author
//- --------------------
//- Горезонтальная линия разделения
//- ====================

mixin hr()
    +b('hr').hr( class!=attributes.class )