//- ====================
//- kontora: icon
//- 00-00-2020: author
//- --------------------
//- Иконочка
//- ====================

mixin icon(name)
    +b('i').icon( class!=attributes.class, class=`-icon-${name}` )&attributes( attributes )