//- ====================
//- kontora: range
//- 00-00-2020: author
//- --------------------
//- Ползунок для цены
//- ====================

mixin range()
    +b.range(class!=attributes.class)
        +e.price-block
            +e('span').line-input от
            +b('input').input__input-field--price.--min.js-price-min(type="text" data-min="0" value="0" name="price-min")
            +e('span').line-input до
            +b('input').input__input-field--price.--max.js-price-max(type="text" data-max="10000" value="10569"  name="price-max")
            +e('span').line-input Руб.
        +e.line.js-slider-range