//- ====================
//- kontora: text block
//- 00-00-2020: author
//- --------------------
//- текстовый
//- ====================

mixin text-block()
    +b.text-block(class!=attributes.class)
        block