/* 980++  */

.b-header {
    padding: 40px 0px 10px;
    position: absolute;
    max-width: 1180px;

    transition-property: background-color;
    transition-duration: @animation-time;


    &.scrolled {
        background-color: transparent;
        padding: 10px 0;
        position: fixed;

        .b-burger--close {
            top: 10px;
        }
    }

    &__wrapper {
        margin-right: -40px;
    }


    &__functional {
        color: @cl-light-grayish-blue;

        z-index: 1;
        position: fixed;
        width: 50vw;
        background-color: @dark;
        left: 100%;
        top: 0;
        overflow: auto;

        &--open {
            transform: translateX(-100%);
        }

        .b-header__link--home {
            display: none;
        }
    }

    .b-nav {
        &__link {
            font-size: 15px;
            line-height: 20px;
            color: @cl-light-grayish-blue;
        }
    }
}