/* 1440++  */
.b-team {

    .b-title,
    &__text {
        margin-left: 200px;
    }

    &__text {
        margin-top: 25px;
    }

    .b-post-slider {

        .b-post__content {
            padding-top: 40px;
            padding-left: 0;
            padding-right: 50px;
        }
    }
}