// в таком порядке подключаем шрифты!!
@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/FontAwesome.woff") format("woff"),
    url("../fonts/FontAwesome.woff2") format("woff2");
}

@font-face {
    font-family: Roboto;
    src: local(Roboto-Light),
      url(src/fonts/Roboto-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Roboto;
    src: local(Roboto-Bold),
      url(src/fonts/Roboto-Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: Roboto;
    src: local(Roboto-Black),
      url(src/fonts/Roboto-Black.woff2) format("woff2");
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
  }


.fontawesome(){font-family: "FontAwesome";}

