@import "../../js/node_modules/slick-slider/slick/slick.less";

.b-news-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;

    .slick-slide {
        display: flex;
        flex-direction: column;
    }
    .slick-dots {
        position: absolute;
        padding: 0;
        display: flex;
        align-items: bottom;
        gap: 5px;

        width: 320px;

        bottom: 0px;
        left: 40px;

        li,
        .slick-active {
            list-style: none;
            width: 320px;
            font-size: 0;
            height: 20px;
            background-image: linear-gradient(to top, @silver 5px, transparent 5px);
            background-repeat: no-repeat;
            background-position-y: 4px;
            flex-grow: 1;
            transition: height, @animation-time;

            &:hover {
                background-position-y: 0px;
            }

            button {
                background-color: transparent;
                border-width: 0;

                width: 100%;
                height: 100%;
            }

        }
        .slick-active {
            background-image: linear-gradient(to top, @dark 5px, transparent 5px);
        }
    }
}