@import "../../js/node_modules/slick-slider/slick/slick.less";

.b-news-slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;

    .slick-slide {
        display: flex;
        justify-content: center;
    }
}