/* 320++  */
.b-news-slider {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0;
    position: relative;

    &__text {
        margin-top: 0;
        margin-bottom: 40px;
    }

    &__image {
        margin: 0 auto;
    }
}