/* 980++  */

.b-news-slider {
    display: block;
    width: 320px;


    position: absolute;
    bottom: 5px;
    left: 40px;

    &__image {
        display: block;
        width: 50px;

        position: relative;
        left: -127px;
        padding-bottom: 50px;
    }
}