//- ====================
//- kontora: Шапка сайта
//- 00-00-2017: Author
//- --------------------
//- Шапка
//- ====================
mixin header()
    +b('header').header
        .b-container
            +e.__wrapper
                +e('img').image(src="../../images/logo/mobile/logo-mobile-light.svg", alt="").__logo
                +b('button').burger
                +e.__functional
                    +e('img').image(src="../../images/logo/mobile/logo-mobile-dark.svg", alt="").__logo
                    +b('button').burger.--close
                    +b('nav').nav
                        +e('ul').__list
                            +e.__item
                                +e('a').link(href="javascript:void(0);" title="").__link
                                    | About
                            +e.__item
                                +e('a').link(href="javascript:void(0);" title="").__link
                                    | Projects
                            +e.__item
                                +e('a').link(href="javascript:void(0);" title="").__link
                                    | Services
                            +e.__item
                                +e('a').link(href="javascript:void(0);" title="").__link
                                    | Our team
                            +e.__item
                                +e('a').link(href="javascript:void(0);" title="").__link
                                    | Contacts
                    +b.language
                        +e('button').__button
                            | No
                        +e('button').__button
                            | En
                        +e('button').__button
                            | Ru
