//- ====================
//- kontora: Шапка сайта
//- 00-00-2017: Author
//- --------------------
//- Шапка
//- ====================
mixin header()
    +b('header').header
        +b('picture').header__logo-wrapper
            img(src="../../images/logo/mobile/logo-mobile-light.svg", alt="")
        +b('button').burger
            | ///
