mixin nav()
    +b('nav').nav
        +e('ul').__list
            +e.__item
                +e('a').link(href="javascript:void(0);" title="").__link
                    | About
            +e.__item
                +e('a').link(href="javascript:void(0);" title="").__link
                    | Projects
            +e.__item
                +e('a').link(href="javascript:void(0);" title="").__link
                    | Services
            +e.__item
                +e('a').link(href="javascript:void(0);" title="").__link
                    | Our team
            +e.__item.--optional
                +e('a').link(href="javascript:void(0);" title="Events")
                    | Events
            +e.__item
                +e('a').link(href="javascript:void(0);" title="").__link
                    | Contacts