/* 320++  */
.b-hero {
    font-size: 25px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: -0.31px;
    color: @cl-light-grayish-blue;

    padding-top: 100px;
    background-color: @dark;

    &__heading {
        margin-top: 0;
        margin-bottom: 20px;
    }

    &__content {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.33;
        letter-spacing: normal;
        margin-top: 0;
        margin-bottom: 70px;
    }
}