/* 1440++  */

.b-project {

    &__wrapper {
        gap: 20px;
        margin-left: -200px;
        margin-right: -200px;
    }

    &__text {
        margin-top: 0px;
        margin-bottom: 68px;
    }
}