/* 980++  */

.b-project {
    background-color: @cl-light-grayish-blue;
    padding-top: 100px;


    .b-container {
        padding: 0;

        display: flex;
        flex-wrap: wrap;
    }

    .b-title {
        margin-left: 100px;
    }

    &__text {
        font-size: 30px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: @dark;

        margin: 25px 0 90px 100px;
    }

    .b-post--optional {
        display: block;
    }

}