//- ====================
//- kontora: main
//- 00-00-2017:
//- --------------------
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'main'

//- Модифицируем head
block head
    - var pageTitle = 'Главная страница';
    - var pageDescription = 'Рандомное описание страницы'
    - var pageImage = 'images/content/test-image.jpg'

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/hero.pug
    +hero({
        "heading": "We provide digital services and develop our own products in sports and iHealth industry",
        "content": "We put technology and sport together to create the world's most efficient and popular sports apps.",
        "linkHref": "javascript:void(0);",
        "linkTitle": "Drop us a line",
        "sources": [
            {"srcset": "../../images/content/main/1440/hero-background2x.jpg"}
        ],
        "addres": "../../images/content/main/1440/hero-background2x.jpg"
    })
    include section/about.pug
    +about({
        "heading": "We combine high level of professionalism and individual approach",
        "text": "We have subject domain expertise in various aspects",
        "items": [
            {
                "src": "images/logo/project.svg",
                "description": "Project management for simple and complex projects"
            },
            {
                "src": "images/logo/hire.svg",
                "description": "Management for hire"
            },
            {
                "src": "images/logo/digital.svg",
                "description": "Digital transformation"
            },
        ]
    })
    include section/service.pug
    +service({
        "title": "What We Do",
        "items": [
            "Development and support of new and existing software systems",
            "Deep analytics in various spheres",
            "Insights-driven solutions",
            "Agile product engineering",
            "Quality Assurance for new and existing products",
            "Data collection, research and analysis",
            "UX/UI concepts and design",
            "Video and motion design"
        ],
        "linkHref": "javascript:void(0);",
        "linkTitle": "Services"
    })

    include section/project.pug
    +project({
        "title": "Our Work",
        "text": "We change the way businesses and industries operate.",
        "posts": [
            {
                "class": "--big",
                "linkHref": "javascript:void(0);",
                "linkTitle": "ага",
                "sources": [
                    {
                        "srcset": "../../images/content/main/birdieeyes.jpg"
                    },
                ],
                "addres": "../../images/content/main/birdieeyes.webp",
                "contentClass": "--colored",
                "title": "birdieeyes",
                "content": "We have introduced AR technology into one of the most traditional games and made it even more interesting"
            },
            {
                "linkHref": "javascript:void(0);",
                "linkTitle": "ага",
                "sources": [
                    {
                        "srcset": "../../images/content/main/upsport.jpg"
                    },
                ],
                "addres": "../../images/content/main/upsport.webp",
                "title": "upsport",
                "content": "Live communication platform that has changed the game for sport clubs, parents and their kids"
            },
            {
                "linkHref": "javascript:void(0);",
                "linkTitle": "ага",
                "sources": [
                    {
                        "srcset": "../../images/content/main/xland.jpg"
                    },
                ],
                "addres": "../../images/content/main/xland.webp",
                "title": "xland",
                "content": "Digital presence for the first indoor activity park in Norway"
            },
        ],
        "linkHref": "javascript:void(0);",
        "linkTitle": "All projects"
    })
    include section/team.pug
    +team({
        "title": "Inside Frontbyte",
        "text": "We change the way businesses and industries operate.",
        "posts": [
                {
                "class": "--big",
                "linkHref": "javascript:void(0);",
                "linkTitle": "ага",
                "sources": [
                    {
                        "srcset": "../../images/content/main/team.jpg"
                    },
                ],
                "addres": "../../images/content/main/team.webp",
                "contentClass": "--right",
                "title": "our team",
                "content": "We are united by our passion to create unique and efficient digital products"
            }
        ]
    })
        include section/ui-kit/press-slider.pug
        +press-slider(
            [
                {
                    "sources": [
                        {
                            "srcset": "images/content/main/inside.jpg",
                            "media": "(min-width: 1440px)"
                        }
                    ],
                    "address": "images/content/main/inside.webp",
                    "text": "AR golf platform BirdieEyes raises $300 million at $2.7 billion valuation",
                    "press": "images/logo/tc.svg",
                    "href": "javascript:void(0);"
                },
                {
                    "sources": [
                        {
                            "srcset": "images/content/main/birdieeyes.jpg",
                            "media": "(min-width: 1366px)"
                        }
                    ],
                    "address": "images/content/main/birdieeyes.webp",
                    "text": "Lorem ipsum, dolor sit amet consectetur adipisicing.",
                    "press": "images/logo/tc.svg",
                    "href": "javascript:void(0);"
                },
                {
                    "sources": [
                        {
                            "srcset": "images/content/main/inside.jpg",
                            "media": "(min-width: 1440px)"
                        }
                    ],
                    "address": "images/content/main/inside.webp",
                    "text": "AR golf platform BirdieEyes raises $300 million at $2.7 billion valuation",
                    "press": "images/logo/tc.svg",
                    "href": "javascript:void(0);"
                },
                {
                    "sources": [
                        {
                            "srcset": "images/content/main/birdieeyes.jpg",
                            "media": "(min-width: 1366px)"
                        }
                    ],
                    "address": "images/content/main/birdieeyes.webp",
                    "text": "Lorem ipsum, dolor sit amet consectetur adipisicing.",
                    "press": "images/logo/tc.svg",
                    "href": "javascript:void(0);"
                },
                {
                    "sources": [
                        {
                            "srcset": "images/content/main/inside.jpg",
                            "media": "(min-width: 1440px)"
                        }
                    ],
                    "address": "images/content/main/inside.webp",
                    "text": "AR golf platform BirdieEyes raises $300 million at $2.7 billion valuation",
                    "press": "images/logo/tc.svg",
                    "href": "javascript:void(0);"
                },
            ])
    include section/news.pug
    +news({
        "title": "Latest News",
        "posts": [
            {
                "linkHref": "javascript:void(0);",
                "linkTitle": "НОВОСТИ",
                "text": "How to use email marketing to connect with your users",
                "time": "Dec 19, 2018"
            },
            {
                "linkHref": "javascript:void(0);",
                "linkTitle": "НОВОСТИ",
                "text": "How to use email marketing to connect with your users",
                "time": "Dec 19, 2018"
            },
            {
                "linkHref": "javascript:void(0);",
                "linkTitle": "НОВОСТИ",
                "text": "How to use email marketing to connect with your users",
                "time": "Dec 19, 2018"
            }
        ]
    })
    include section/contacts.pug
    +contacts({
        "title": "Contacts",
        "text": "Our head office is located in Norway. Research and dev center is located in Belarus.",
        "linkHref": "javascript:void(0);",
        "linkTitle": "Drop us a line"
    })
    //- +b('section').contacts#contacts
    //-     .b-container
    //-         +e.wrapper
    //-             +b('h2').title.--light
    //-                 | Contacts
    //-             +e('p').__text
    //-                 | Our head office is located in Norway. Research and dev center is located in Belarus.
    //-             +b('div').social
    //-                 +e('ul').__list
    //-                     +e('li').__item
    //-                         +e('a').link(href="javascript:void(0)" title="linkedin")
    //-                             +e('img').image(src="images/logo/mobile/linkedin-white.svg", alt="", width="30" height="30")
    //-                     +e('li').__item
    //-                         +e('a').link(href="javascript:void(0)" title="facebook")
    //-                             +e('img').image(src="images/logo/mobile/facebook-white.svg", alt="", width="30" height="30")
    //-                     +e('li').__item
    //-                         +e('a').link(href="javascript:void(0)" title="instagram")
    //-                             +e('img').image(src="images/logo/mobile/instagram-white.svg", alt="", width="30" height="30")
    //-             +b('div').map
    //-                 +e('img').image(src="images/content/main/map.svg")
    //-                 +e('div').office
    //-                 +e('div').office.--belarus
    //-             +b('div').office
    //-                 +e('p').__country
    //-                     | Norway
    //-                 +e('div').__info
    //-                     +e('p').__city
    //-                         | Kristiansand
    //-                     +e('p').__addres
    //-                         | Vestre strandgate, 23, 4th and<br> 6th floor N-4611
    //-                     +e('a').link(href="mailto:contact@frontbyte.no" title="contact@frontbyte.no", ).__email
    //-                         | contact@frontbyte.no
    //-                     +e('p').__phone
    //-                         | +47 416 36 983
    //-             +b('div').office
    //-                 +e('p').__country
    //-                     | Belarus
    //-                 +e('div').__info
    //-                     +e('p').__city
    //-                         | Minsk
    //-                     +e('p').__addres
    //-                         | Dombrovskaya str., 9, оffice 10.2.2
    //-                     +e('a').link(href="mailto:contact@frontbyte.no" title="contact@frontbyte.no", ).__email
    //-                         | contact@frontbyte.by
    //-                     +e('p').__phone
    //-                         | +375 29 1393336
    //-     +b('a').link(href="javascript:void(0)" title="Drou us a line").--block.--colored.--footer
    //-         | Drop us a line
    //-         +e('div').__arrow
    +b('section').page-navigation
        .b-container
            include template/layout/nav.pug
            +nav()
