//- ====================
//- kontora: main
//- 00-00-2017:
//- --------------------
//- Главная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'main'

//- Модифицируем head
block head
    - var pageTitle = 'Главная страница';
    - var pageDescription = 'Рандомное описание страницы'
    - var pageImage = 'images/content/test-image.jpg'

//- Выводим попапы
block popup

//- Выводим content
block content

    +b('section').hero
        .b-container
            +e('p').__heading
                | We provide digital services and develop our own products in sports and iHealth industry
            +e().__content
                | We put technology and sport together to create the world's most efficient and popular sports apps.
            +b('a').link(href="javascript:void(0)" title="drop us a line").--block.--hero
                | Drop us a line
                +e('div').__arrow
    +b('section').about#about
        .b-container
            +e('p').__heading
                | We combine high level of professionalism and individual approach
            +e('p').__text
                | We have subject domain expertise in various aspects
            +e('ul').__list
                +e('li').__item
                    +e('div').__logo-wrapper
                        +e('img').image(src="images/logo/project.svg", alt="", width=30, height=30)
                    +e('p').__description
                        | Project management for simple and complex projects
                +e('li').__item
                    +e('div').__logo-wrapper.--orange
                        +e('img').image(src="images/logo/hire.svg", alt="" width="30" height="30").__logo
                    +e('p').__description
                        | Management for hire
                +e('li').__item
                    +e('div').__logo-wrapper.--pink
                        +e('img').image(src="images/logo/digital.svg", alt="" width="30" height="30").__logo
                    +e('p').__description
                        | Digital transformation
    +b('section').service#service
        .b-container
            +b('h2').title.--mobile-grey
                | What We Do
            +e('ul').__list
                +e('li').__item.__item--line
                    | Development and support of new and existing software systems
                +e('li').__item.__item--line
                    | Deep analytics in various spheres
                +e('li').__item.__item--line
                    | Insights-driven solutions
                +e('li').__item.__item--line
                    | Agile product engineering
                +e('li').__item.__item--line
                    | Quality Assurance for new and existing products
                +e('li').__item.__item--line
                    | Data collection, research and analysis
                +e('li').__item.__item--line
                    | UX/UI concepts and design
                +e('li').__item.__item--line
                    | Video and motion design
        +b('a').link(href="javascript:void(0)" title="Services").--block.--colored
            | Services
            +e('div').__arrow
    +b('section').project#project
        .b-container
            +b('h2').title
                | Our Work
            +e('p').__text
                | We change the way businesses and industries operate.
            +b('div').post
                +e('picture').picture
                    +e('img').image(src="images/content/main/320/birdieeyes.jpg", alt="" width="320" height="300")
                    +e('source').image(src="mages/content/main/980/birdieeyes@x2.jpg", media="(min-width: 980px)" width="320" height="300")
                    +e('source').image(src="mages/content/main/1440/birdieeyes@x3.jpg", media="(min-width: 1440px)" width="320" height="300")
                +b('h3')
                    | birdieeyes
                +e('p')
                    | We have introduced AR technology into one of the most traditional games and made it even more interesting
            +b('div').post
                +e('picture').picture
                    +e('img').image(src="images/content/main/320/upsport.jpg", alt="" width="320" height="300")
                    +e('source').image(src="mages/content/main/980/upsport@x2.jpg", media="(min-width: 980px)" width="320" height="300")
                    +e('source').image(src="mages/content/main/1440/upsport@x3.jpg", media="(min-width: 1440px)" width="320" height="300")
                +b('h3')
                    | upsport
                +e('p')
                    | Live communication platform that has changed the game for sport clubs, parents and their kids
            +b('div').post
                +e('picture').picture
                    +e('img').image(src="images/content/main/320/xland.jpg", alt="" width="320" height="300")
                    +e('source').image(src="mages/content/main/980/xland@x2.jpg", media="(min-width: 980px)" width="320" height="300")
                    +e('source').image(src="mages/content/main/1440/xland@x3.jpg", media="(min-width: 1440px)" width="320" height="300")
                +b('h3')
                    | xland
                +e('p')
                    | Digital presence for the first indoor activity park in Norway
        +b('a').link(href="javascript:void(0)" title="All projects").--block.--colored
            | All Projects
            +e('div').__arrow
    +b('section').team#team
        .b-container
            +b('div').post
                +e('picture').picture
                    +e('img').image(src="images/content/main/320/team-home.jpg", alt="" width="320" height="300")
                    +e('source').image(src="mages/content/main/980/team-home@x2.jpg", media="(min-width: 980px)" width="320" height="300")
                    +e('source').image(src="mages/content/main/1440/team-home@x3.jpg", media="(min-width: 1440px)" width="320" height="300")
                +e('h3')
                    | our team
                +e('p')
                    | We are united by our passion to create unique and efficient digital products
            +b('h2').title
                | Inside Frontbyte
            +e('p').__text
                | We change the way businesses and industries operate.
            +b('div').post
                +e('picture')
                    +e('img').image(src="images/content/main/320/inside-press.jpg", alt="" width="320" height="300")
                    +e('source').image(src="mages/content/main/980/inside-press@x2.jpg", media="(min-width: 980px)" width="320" height="300")
                    +e('source').image(src="mages/content/main/1440/inside-press@x3.jpg", media="(min-width: 1440px)" width="320" height="300")
                +e('h3')
                    | Press about us
                +e('p')
                    | AR golf platform BirdieEyes raises $300 million at $2.7 billion valuation
    +b('section').news
        .b-container
            +b('div').news-slider
                +b('button').button(type="button").--left-arrow
                +e('img').image(src="images/logo/tc.svg" height="15px" width="30px")
                +b('button').button(type="button").--right-arrow
            +b('h3').title.--label-mobile-dark
                | Latest News
            +e('div').__post
                +e('p')
                    | How to use email marketing to connect with your users
                +e('time')
                    | Dec 19, 2018
            +e('div').__post
                +e('p')
                    | How to use email marketing to connect with your users
                +e('time')
                    | Dec 19, 2018
            +e('div').__post
                +e('p')
                    | How to use email marketing to connect with your users
                +e('time')
                    | Dec 19, 2018
    +b('section').contacts#contacts
        +b('h2').title.title--light
            | Contacts
        +e('p').__text
            | Our head office is located in Norway. Research and dev center is located in Belarus.
        +b('div').social
            +e('ul').__list
                +e('li').__item
                    +e('img').image(src="images/logo/mobile/linkedin-white.svg", alt="", width="30" height="30")
                +e('li').__item
                    +e('img').image(src="images/logo/mobile/facebook-white.svg", alt="", width="30" height="30")
                +e('li').__item
                    +e('img').image(src="images/logo/mobile/instagram-white.svg", alt="", width="30" height="30")
        +b('div').office
            +e('b').__country
                | Norway
            +e('div').__info
                +e('p').__city
                    | Kristiansand
                +e('p').__addres
                    | Vestre strandgate, 23, 4th and 6th floor N-4611
                +e('a').link(href="mailto:contact@frontbyte.no" title="contact@frontbyte.no", ).__email
                    | contact@frontbyte.no
                +e('p').__phone
                    | +47 416 36 983
        +b('div').office
            +e('b').__country
                | Belarus
            +e('div').__info
                +e('p').__city
                    | Minsk
                +e('p').__addres
                    | Dombrovskaya str., 9, оffice 10.2.2
                +e('a').link(href="mailto:contact@frontbyte.no" title="contact@frontbyte.no", ).__email
                    | contact@frontbyte.by
                +e('p').__phone
                    | +375 29 1393336
        +b('div').link-more
            | Drop us a line
            +e('a').link(href="javascript:void(0)").__link
                | ->
    +b('section').page-navigation
        +e('ul').__list
            +e.__item
                +e('a').link(href="#about").__link
                    | About
            +e.__item
                +e('a').link(href="#project").__link
                    | Projects
            +e.__item
                +e('a').link(href="#service").__link
                    | Services
            +e.__item
                +e('a').link(href="#team").__link
                    | Our team
            +e.__item
                +e('a').link(href="#contacts").__link
                    | Contacts